doctype html
html
  head
    title= title
    link(rel='stylesheet', tpye="text/css",href='/dist/semantic.min.css')
    script(src="/dist/jquery.min.js")
    script(src="/dist/semantic.min.js")
    script(src="/dist/angular.min.js")

  body
    div.ui.container
       div.blue.ui.inverted.secondary.pointing.menu
          a.active.item Home
          a.item Article
          a.item Post
          a.item Comment
          a.item Theme
          a.item Configure
          div.right.menu
            div.ui.transparent.icon.input
              input(type='text',placeholder="Search...")
              i.search.link.icon
        div.ui.bottom.attached.segment
