doctype html
html
  head
    title= title
    link(rel='stylesheet', tpye="text/css",href='/dist/semantic.min.css')
    script(src="/dist/jquery.min.js")
    script(src="/dist/semantic.min.js")

  body
    block content